<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>ОФОРМЛЕННО</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Логинов</a></li>
            <li><a class="link-secondary" href="#">Глеб</a></li>
            <li><a class="link-secondary" href="#">Олегович</a></li>
            <li><a class="link-secondary" href="#">ученик</a></li>
            <li><a class="link-secondary" href="#">Яндекс-лицея</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>РЕСУРСЫ</h5>
            <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Resource</a></li>
            <li><a class="link-secondary" href="#">Resource name</a></li>
            <li><a class="link-secondary" href="#">Another resource</a></li>
            <li><a class="link-secondary" href="#">Final resource</a></li>
            </ul>
        </div>
        </div>
    </footer>
</div>