{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h2>Покупка {{ item.title }}</h2>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{current_user.email}}">
        </div>
    </div>
    <div class="mb-3">
        {{ form.number.label(class="form-label") }} <br>
        {{ form.number(class="form-control", type="text", placeholder="8 800 555 35 35") }}<br>
    </div>
    <div class="mb-3">
        {{ form.time.label(class="form-label") }} <br>
        {{ form.time(class="form-control", type="text", placeholder="время для связи (по мск)") }}<br>
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}